*~
*.a
aclocal.m4
AUTHORS
autom4te.cache/
ChangeLog
compile
config_ac.h
config_ac-h.in
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps/
fontutils/xrdp-dumpfv1
fontutils/xrdp-mkfv1
genkeymap/xrdp-genkeymap
install-sh
instfiles/pam.d/xrdp-sesman
instfiles/*.service
keygen/xrdp-keygen
*.la
.libs
libtool
*.lo
*.log
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
NEWS
*.o
README
sesman/chansrv/xrdp-chansrv
sesman/sesexec/xrdp-sesexec
sesman/tools/xrdp-authtest
sesman/tools/xrdp-dis
sesman/tools/xrdp-sesadmin
sesman/tools/xrdp-sesrun
sesman/tools/xrdp-sestest
sesman/tools/xrdp-xcon
sesman/xrdp-sesman
sesman/sesman.ini
*.so
stamp-h1
tap-driver.sh
test-driver
tests/common/test_common
tests/libipm/test_libipm
tests/libxrdp/test_libxrdp
tests/memtest/memtest
tests/xrdp/test_xrdp
tools/devel/tcp_proxy/tcp_proxy
tools/chkpriv/xrdp-chkpriv
tools/chkpriv/xrdp-droppriv
*.trs
waitforx/waitforx
xrdp/xrdp
xrdp/xrdp.ini
xrdp_configure_options.h
xrdpapi/xrdp-xrdpapi-simple
.vscode/*
