*~
aclocal.m4
autom4te.cache/
compile
config_ac.h
config_ac-h.in
config.c
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps/
install-sh
*.la
.libs/
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
stamp-h1
tests/paintertest
