*~
aclocal.m4
AUTHORS
autom4te.cache/
ChangeLog
config_ac.h
config_ac-h.in
config.c
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps/
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
NEWS
*.o
README
stamp-h1
xrdp-chansrv
xrdp-genkeymap
xrdp-keygen
xrdp-sesadmin
xrdp-sesman
xrdp-sesrun
xrdp-sessvc
xrdp-sestest
xrdp-dis
xrdp/xrdp
