Package: x11rdp
Version: DUMMYVERINFO
Section: unknown
Priority: optional
Architecture: all
Maintainer: Angulo Solido <packaging@angulosolido.pt>
Description: X11rdp backend for the xrdp remote access server
