Source: xrdp
Section: net
Priority: optional
Maintainer: Jay Sorg <jay.sorg@gmail.com>, Per Hansen <spamhans@yahoo.de>
Build-Depends: debhelper (>= 4.0.0) libssl-dev, libpam0g-dev
Standards-Version: 3.6.0

Package: xrdp
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <An open source remote desktop protocol(rdp) server.>
 Based on the work of rdesktop, xrdp uses the remote desktop
 protocol to present a GUI to the user.
