#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_configure:
	./bootstrap
	#./configure --prefix=/usr --sysconfdir=/etc --localstatedir=/var --enable-jpeg --enable-simplesound --enable-fuse --enable-xrdpvr CFLAGS="-g -O3 -march=native"
	./configure --prefix=/usr --sysconfdir=/etc --localstatedir=/var CFLAGS="-g -O3 -march=native"
	find -name Makefile | while read i; do sed -e 's#\(XRDP_PID_PATH.*/run\)#\1/xrdp#g' -i "$$i"; done
	[ -d ../xorg-server-1.12.4 ] || (XRDP=`pwd`; cd .. && apt-get source xorg-server && cd xorg-server-1.12.4 && patch -p0 < $$XRDP/debian/patches/xorg-optimize.patch && ./debian/rules binary)

override_dh_clean:
	dh_clean
	(cd xorg/X11R7.6/rdp && make clean)
	rm -f sesman/tools/xrdp-xcon xorg/X11R7.6/rdp/X11rdp xorg/X11R7.6/rdp/librdp.a

override_dh_auto_build:
	dh_auto_build
	(cd xorg/X11R7.6/rdp && make && strip --strip-unneeded X11rdp)

override_dh_install:
	dh_install
	install -m 755 xorg/X11R7.6/rdp/X11rdp debian/xrdp/usr/bin

override_dh_makeshlibs:
	dh_makeshlibs -a -n
override_dh_installman:
	dh_installman -a debian/xrdp-keygen.8
override_dh_installpam:
	dh_installpam --name=sesman
	rm debian/xrdp/etc/pam.d/xrdp-sesman

override_dh_installdeb:
	# Clean up some files
	rm debian/xrdp/etc/xrdp/xrdp.sh
	rm debian/xrdp/usr/lib/xrdp/*a
	rm debian/xrdp/usr/bin/xrdp-sestest
	# Use our own startwm.sh
	install -m 755 debian/startwm.sh debian/xrdp/etc/xrdp
	# Move rsakeys to documentation
	install -m 644 xrdp/rsakeys.ini debian/xrdp/usr/share/doc/xrdp
	dh_installdeb -a
