#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

LDFLAGS = -lpthread

override_dh_auto_configure:
	./bootstrap
	./configure --prefix=/usr --sysconfdir=/etc --localstatedir=/var
	find -name Makefile | while read i; do sed -e 's#\(XRDP_PID_PATH.*/run\)#\1/xrdp#g' -i "$$i"; done


override_dh_installdeb:
	# Move rsakeys to documentation
	mv debian/xrdp/etc/xrdp/rsakeys.ini debian/xrdp/usr/share/doc/xrdp
	dh_installdeb -a
